<table border="3width ='50%'">
<tr>
<th>Num</th>
<th>Nom</th>
<th>Prenom</th>
<th>Date</th>
</tr>

{% for s in students %}
<tr align="center">
<tr>
 <td>
{{s.num}}
</td>
    <td>
{{s.nom}}
</td>
    <td>
{{s.prenom}}
</td>
    <td>
{{s.date|date('d-m-Y')}}
</td>

</tr>
{% endfor %}

</table>

<br>

{% for s in students %}
{{s.prenom}}
{{s.nom}}
{#}il lien maye5dmch njmch nclicky 3la il details or delete !!!!!{#}
<a  herf="{{ path('studentDetails',{num: s.num}) }}"> -Details
</a>

<a herf="{{ path('studentDelete',{num: s.num}) }}"> -Delete
</a>
<br>
{% endfor %}
